
<div class="">
  <br>
  <br>
  <div class="input-group mb-3">
    <div class="input-group-append">
      <span class="input-group-text"  id="server">Server</span>
    </div>
    <input type="text" class="form-control"   placeholder="Instance" aria-label="Server" aria-describedby="basic-addon2">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-append">
      <span class="input-group-text" id="id">UserId</span>
    </div>
    <input type="email" class="form-control"  placeholder="Email" aria-label="UserId" aria-describedby="basic-addon2">
  </div>

</div>
